* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;

  /* Variables */
  --color-gray-dark: #37474F
}

html body {
  width: 100%;
  height: 100%;
}

.video-intro {
  background-color: var(--color-gray-dark);
  font-size: 0;
  width: 100%;
  height: 100%;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.center-container {
  position: absolute;
  top: 30vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: initial;
  text-align: center;
}

.name-tagline {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2vmin;
  border-radius: 1vmin;
}
