* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /* Variables */
  --color-gray-dark: #37474F
}

.video-container {
  background-color: var(--color-gray-dark);
}

#video {
  width: 100vw;
  opacity: 0.75;
}
