* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;

  /* Variables */
  --color-gray-dark: #37474F
}

.video-container {
  background-color: var(--color-gray-dark);
}

#video {
  width: 100vw;
  opacity: 0.75;
}

.name-tagline {
  position: absolute;
  top: 20vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  color: white;
  text-align: center;
  padding: 2vmin;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vmin;
}
